<footer class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Recipe Book</a>
    <div class="agreement">
        <a href="#">Privacy Policy Terms Conditions</a> Copyright 2020. All rights reserved.
    </div>
    <div class="footer-links">
        <span>Connect with us:</span>
        <span><i class="fab fa-twitter"></i></span>
        <span><i class="fab fa-linkedin-in"></i></span>
        <span><i class="fab fa-facebook-f"></i></span>
    </div>
</footer>